.carrusel-container {
    overflow: hidden;
    width: 100%;
    margin-top: 70px;
}

.carrusel {
    display: flex;
    width: calc(100% * [número de elementos] * 2);
    animation: scrollLeft 30s linear infinite;
}

.carrusel-item {
    flex: 0 0 auto;
    width: calc(100% / 5);
    margin: 20px;
<<<<<<< HEAD
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
=======
    border-radius: 15px;
    overflow: hidden;
    background-color: rgb(26, 26, 26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

>>>>>>> victor
}

.carrusel-item img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.carrusel-item h3,
.carrusel-item p {
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
<<<<<<< HEAD
=======

>>>>>>> victor
}

.carrusel-item h3 {
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
<<<<<<< HEAD
=======
    color: white;
>>>>>>> victor
}

.carrusel-item h3 a {
    text-decoration: none;
    color: inherit;
}

.carrusel-item p {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0 15px;
<<<<<<< HEAD
    font-style: italic;
=======
>>>>>>> victor
}

@keyframes scrollLeft {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-50%, 0, 0);
    }
}