.why-choose-us-container {
  display: flex;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  margin-top: 120px;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.content-section {
  width: 60%;
}

.image-section {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.image-section img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}

.accordion-item {
  background-color: #f8f8f8;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.accordion-title {
  color: #333;
  background: rgba(232, 232, 232, 0);
  transition: background-color 0.3s;
  border: none;
  padding: 15px;
  padding-right: 30px;
  text-align: left;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-title:hover,
.accordion-item.active .accordion-title {
  background-color: #4169e1;
  color: white;
}

.arrow {
  border: solid #333;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: transform 0.3s;
}

.arrow.up {
  border: solid white;
  transform: translateY(-50%) rotate(-135deg);
}

.accordion-content {
  display: none;
  padding: 5px 20px;
  border-left: 3px solid #4169e1;
  border-radius: 0px;
  background-color: #fff;
  color: #333;
  text-align: justify;
  font-size: 0.9rem;
  line-height: 1.4;
}

.accordion-item.active .accordion-content {
  display: block;
}

/* PorqueElegirnos.css */
@keyframes slideInFromLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideOutToLeft {
  from { transform: translateX(0); opacity: 1; }
  to { transform: translateX(-100%); opacity: 0; }
}

/* Repite para slideInFromRight y slideOutToRight */

.content-section.slideIn, .accordion-item.slideIn {
  animation: slideInFromLeft 0.5s ease-out forwards;
}

.content-section.slideOut {
  animation: slideOutToLeft 0.5s ease-out forwards;
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.image-section.slideIn {
  animation: slideInFromRight 0.5s ease-out forwards;
}

.image-section.slideOut {
  animation: slideOutToRight 0.5s ease-out forwards;
}
