/* WhyChooseUs.css */
.why-choose-us-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 0px;
    background-color: rgb(238, 238, 238);
  }
  
  .content-section {
    flex: 1;
    max-width: 600px; /* O un tamaño que se ajuste a tu diseño */
  }
  
  .image-section {
    flex: 1;
    text-align: right; /* Alinea la imagen a la derecha */
  }
  
  .image-section img {
    width: 40%; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto;
    border-radius: 10px;
  }
  
  .accordion-item {
    margin-bottom: 10px;
  }
  
  .accordion-title {
    background: none;
    border: none;
    padding: 10px;
    text-align: left;
    width: 100%;
    font-weight: bold;
    cursor: pointer;
  }
  
  .accordion-content {
    display: none;
    padding: 10px;
    border-left: 3px solid #ff6a00; /* Un toque de estilo para el contenido activo */
  }
  
  .accordion-item.active .accordion-content {
    display: block;
  }
  