node_modules/
npm-debug.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
config/dev.env
config/test.env
config/prod.env
dist/
build/
logs/
*.log
*.tmp
.DS_Store
.idea/
.vscode/